.cart {
    color: #04aa6b;
}
.cart-text {
    font-weight: 600;
}
.item {
    width: 85%;
    margin: auto;
    background-color: #04aa6b;
    border-radius: 8px;
    
    color: white;
    
}
.item h3 {
    padding: 5px 10px;
}